:root {
    --blanco: #fff;
    --negro: #000;
    /*Paleta vino tinto*/
    --vino-tinto: #813c50;
    --vino-tinto-medio: #875065;
    --vino-tinto-luz: #d397ae;
    --vino-tinto-extra-luz: #f4c3d7;
    /*Paleta rosa*/
    --rosado: #ffb3c8;
    --rosado-luz: #ffc6d5;
    --rosado-extra-luz: #ffd9e3;
    --rosado-palido: #ffecf1;
    --rosado-blanco: #fff8fa;
    /*Paleta gris*/
    --gris: #b6b6b6;
    --gris-luz: #c8c8c8;
    --gris-extra-luz: #dbdbdb;
    --gris-palido: #ededed;
    --gris-blanco: #f7f7f7;
    /*Paleta gris-azul*/
    --gris-azul: #586272;
    --gris-azul-luz: #a6aec1;
    --gris-azul-extra-luz: #cfd5e1;
    --gris-azul-palido: #ededf2;
    /*Paleta negro-gris*/
    --negro-gris: #4d4d4d;
    --negro-gris-luz: #757575;
    --negro-gris-extra-luz: #cfd5e1;
    --negro-gris-palido: #c5c5c5;
    /*Paleta complementaria*/
    --azul-industrial: #44749d;
    --gris-industrial: #c6d4e1;
    --cafe-grisaceo: #bdb8ad;
    --cafe-grisaceo-luz: #ebe7e0;
    --cafe-grisaceo-blanco: #f4f1ed;
    /*Transiciones*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

body {
    box-sizing: border-box;
}

.bg__pink {
    background-color: var(--rosado-palido);
}

.default__form {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
    border: solid 1px;
    border-radius: .5rem;
    border-color: var(--negro-gris-palido);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    background-color: var(--blanco);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 2.6rem;
}

.form__group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.label {
    display: flex;
    width: 100%;
    margin-bottom: 4px;
    font-family: Montserrat;
    font-weight: 600;
    color: var(--negro-gris-luz);
}

.text__danger {
    position: absolute;
    z-index: 0;
    color: var(--azul-industrial);
    font-weight: bold;
    margin-left: 4px;
    font-size: 1.2rem;
    vertical-align: middle;
}

.form__input {
    display: inline-block;
    width: 100%;
    height: 2rem;
    padding-left: .8rem;
    border-radius: .2rem;
    border: solid 1px;
    border-color: var(--negro-gris-palido);
    outline: none;
    background-color: var(--gris-azul-palido);
    color: color-mix(in srgb, var(--vino-tinto), transparent 40%);
    font-family: Roboto;
    font-size: .9rem;
    font-weight: 500;
    transition: border-color 0.5s ease, box-shadow 0.3s ease;
}

input.form__input--active {
    border: solid 2px;
    border-color: var(--vino-tinto);
    color: var(--vino-tinto-medio);
}

.form__group--radio {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    margin-top: 1rem;
}

.radio__button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
    width: min-content;
    height: min-content;
}

.label__radio {
    margin: 0;
    font-weight: 500;
    order: 1;
}

.input__radio {
    appearance: none;
    border-radius: 50%;
    width: 22px;
    height: 18px;
    margin: 0;
    border: 2px solid #999;
    transition: 0.2s all linear;
}

.input__radio:checked {
    border: 5px solid var(--vino-tinto);
}

.button__submit {
    display: flex;
    margin-top: 1rem;
    border: none;
    color: var(--blanco);
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.button:hover {
    background-color: var(--vino-tinto-medio);
    transition: .5s;
}

.form .button__submit {
    margin-left: auto;
    margin-right: auto;
}

.form__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
    font-family: Poppins;
    font-size: .8rem;
}

.text__link {
    display: block;
    color: var(--vino-tinto);
    font-weight: 600;
    text-decoration: underline;
}
