@page
@model AppEmpleo.Pages.Login.LoginModel

@{
    ViewData["BodyClass"] = "page-body page-body--pink";
}

@section Styles {
    <link rel="stylesheet" href="~/css/pages/login.css" asp-append-version="true" />
}

<div class="auth login">
    <div class="card auth__card">
        <h2 class="auth__title">Sign in</h2>
        <p class="auth__subtitle">Welcome back to JobTI</p>

        <form method="post" asp-page="Login" class="form">
            <div class="form-field">
                <label asp-for="Email" class="form-field__label"></label>
                <input asp-for="Email" type="email" class="form-field__input" />
                <span asp-validation-for="Email" class="form-field__error"></span>
            </div>
            <div class="form-field">
                <label asp-for="Password" class="form-field__label"></label>
                <input asp-for="Password" type="password" class="form-field__input" />
                <span asp-validation-for="Password" class="form-field__error"></span>
            </div>

            <button type="submit" class="btn btn--block">Sign in</button>
            <p class="form-field__hint"><a class="guest-header__link" href="#">Forgot your password?</a></p>
        </form>
    </div>
</div>