@page
@model AppEmpleo.Pages.Login.LoginModel

@{
    ViewData["BodyClass"] = "bg__pink"; 
}

<div class="default__form">
    <form method="post" asp-page="Login" class="form">

        <div class="form__group">
            <label asp-for="Email" class="label"></label>
            <input asp-for="Email" type="email" class="form__input" />
        </div>
        <div class="form__group">
            <label asp-for="Password" class="label"></label>
            <input asp-for="Password" type="password" class="form__input" />
        </div>

        <button type="submit" class="button button__submit">Iniciar Sesión</button>
        <p class="form__text"><a class="text__link" href="#">¿Olvidaste tu contraseña?</a></p>

    </form>
</div>