@page
@model AppEmpleo.Pages.LandingPage.HomeModel
@{
    ViewData["Title"] = "Ofertas de empleo";
    Layout = "~/Pages/Shared/_LayoutSession.cshtml";
}

<div class="role">
    <p>@Model.User.Nombre</p>
</div>
