@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
	ViewData["BodyClass"] = "bg__white"; // Define la clase del fondo
}

<!-- Hero section -->
<section id="hero" class="hero">
	<div class="hero__container">
		<div class="container__text">
			<h1 class="text__title">Encuentra el empleo que siempre soñaste</h1>
			<p class="text__paragraph">Unete a la mejor plataforma de empleo para TI de Latinoamérica</p>
		</div>
		<div class="container__img">
			<img src="~/assetsLandingPage/img/hero-img.png" alt="hero-img" class="img">
		</div>
	</div>
	<a asp-page="/Register/CreateAccount" type="button" title="Iniciar sesión" class="button button__register" id="button__register--index">
		Regístrate
	</a>
</section>

<!-- Services section -->
<section id="services" class="services">
	<div class="services__container">

		<!-- Service item -->
		<div class="container__item">
            <div class="item__box">
				<div class="icon">
					<i class='bx bx-user'></i>
				</div>
				<h4 class="item__title title">Candidatos</h4>
			</div>
			<p class="item__text"></p>
		</div>

		<!-- Service item -->
		<div class="container__item">
            <div class="item__box">
				<div class="icon">
					<i class='bx bx-spreadsheet'></i>
				</div>
				<h4 class="item__title title">Reclutadores</h4>
			</div>
			<p class="item__text"></p>
		</div>

	</div>
</section>

<!-- About section -->
<section id="about" class="about">

	<div class="about__header">
		<span class="header__span">Sobre nosotros</span>
		<h2 class="header__title title">Sobre nosotros</h2>
		<p class="header__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, placeat sint. Sint ex vero nihil corrupti fugit, commodi, esse debitis aspernatur quos rerum autem exercitationem necessitatibus provident totam omnis aut.</p>
	</div>

	<div class="about__container">
		<div class="container__img">
			<img src="~/assetsLandingPage/img/about-us.png" alt="about-us" class="img">
		</div>
		<div class="container__text">
			<h3 class="text__title title"></h3>
			<p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum nesciunt corporis in repellat? Vitae aperiam cupiditate autem dolores inventore consequuntur nam sed laboriosam, quaerat tempore cumque sint perferendis possimus ipsa.</p>
			<ul class="text__list">
				<li class="list__item"><i class="bi bi-check2-all"></i><span>sthstehtshjathah</span></li>
				<li class="list__item"><i class="bi bi-check2-all"></i><span>hsdhfgsttjtsjstjatjatjtajjsatjtjtr</span></li>
				<li class="list__item"><i class="bi bi-check2-all"></i><span>rehhstrjhsjstjsajshahj</span></li>
			</ul>
			<p class="text">
				Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta eum eos excepturi id inventore laboriosam quia deleniti animi? Eaque molestiae praesentium itaque cum necessitatibus asperiores cumque! Odio porro hic animi!
			</p>
		</div>
	</div>

</section>

<!-- Other services -->
<section id="services" class="other__services">
</section>
