@page
@model AppEmpleo.Pages.CreateAccount.CreateAccountModel

@{
    ViewData["BodyClass"] = "bg__pink"; // Define la clase del fondo
}

<div class="register__form">
    <form method="post" asp-page="Register" class="form">
        <div class="form__group">
            <label asp-for="Usuario.Nombre" class="label"></label>
            <input asp-for="Usuario.Nombre" type="text" value="" class="register__input" />
        </div>
        <div class="form__group">
            <label asp-for="Usuario.Apellido" class="label"></label>
            <input asp-for="Usuario.Apellido" type="text" value="" class="register__input" />
        </div>
        <div class="form__group">
            <label asp-for="Usuario.Email" class="label"></label>
            <input asp-for="Usuario.Email" type="email" value="" class="register__input" />
        </div>
        <div class="form__group">
            <label asp-for="Usuario.FechaNacimiento" class="label"></label>
            <input asp-for="Usuario.FechaNacimiento" type="date" value="" class="register__input" />
        </div>
        <div class="form__group">
            <label asp-for="Usuario.ClaveHash" class="label"></label>
            <input asp-for="Usuario.ClaveHash" type="password" value="" class="register__input" />
        </div>
        <div class="form__group">
            <label for="Rol" class="label">Rol</label>
            <div class="form__group--radio">
                <div class="radio__button">
                    <label asp-for="Usuario.Rol" class="label label__radio">Candidato</label>
                    <input asp-for="Usuario.Rol" type="radio" value="candidato" class="input__radio" id="candidato" checked />
                </div>
                <div class="radio__button">
                    <label asp-for="Usuario.Rol" class="label label__radio">Empleador</label>
                    <input asp-for="Usuario.Rol" type="radio" value="empleador" class="input__radio" id="empleador" />
                </div>
            </div>
        </div>

        <button type="submit" class="button button__submit">Crear Cuenta</button>
        <p class="form__text">¿Ya tienes una cuenta?<br /><a class="text__link" asp-page="/Login/Login">Inicia sesión</a></p>
        

    </form>
</div>
