@page
@model AppEmpleo.Pages.Register.RegisterModel
@{
    Layout = "~/Pages/Shared/_AltLayout.cshtml";
}

<div class="container">
    <form method="post" asp-page="Register">
        <div class="form-group">
            @* <label asp-for="Usuario.NombreUsuario" class="control-label">Nombre</label>
            <input asp-for="Usuario.NombreUsuario" class="form-control"/>
            <span asp-validation-for="Usuario.NombreUsuario" class="text-danger"></span>
            <label asp-for="Usuario.ApellidoUsuario" class="control-label">Apellido</label>
            <input asp-for="Usuario.ApellidoUsuario" class="form-control"/>
            <span asp-validation-for="Usuario.ApellidoUsuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Usuario.EmailUsuario" class="control-label">Email</label>
            <input asp-for="Usuario.EmailUsuario" class="form-control" />
            <span asp-validation-for="Usuario.EmailUsuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Usuario.Telefono" class="control-label">Cel</label>
            <input asp-for="Usuario.Telefono" class="form-control"/>
            <span asp-validation-for="Usuario.Telefono" class="text-danger"></span>
            <label asp-for="Usuario.FechaNacimiento" class="control-label">Fecha de nacimiento</label>
            <input asp-for="Usuario.FechaNacimiento" class="form-control"/>
            <span asp-validation-for="Usuario.FechaNacimiento" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Usuario.ClaveUsuario" class="control-label">Contraseña</label>
            <input asp-for="Usuario.ClaveUsuario" class="form-control"/>
            <span asp-validation-for="Usuario.ClaveUsuario" class="text-danger"></span> *@
        </div>

        <button type="submit" class="btn btn-primary">Crear Cuenta</button>
    
    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</div>
