@page
@model AppEmpleo.Pages.Register.RegisterModel
@{
    Layout = "~/Pages/Shared/_AltLayout.cshtml";
}

<div class="register__form">
    <form method="post" asp-page="Register">
        <div class="form__group">
            <label asp-for="Usuario.Nombre" class="label"></label>
            <input asp-for="Usuario.Nombre" value="" />
        </div>
        <div class="form__group">
            <label asp-for="Usuario.Apellido" class="label"></label>
            <input asp-for="Usuario.Apellido" value="" />
        </div>
        <div class="form__group">
            <label asp-for="Usuario.Email" class="label"></label>
            <input asp-for="Usuario.Email" value="" />
        </div>
        <div class="form__group">
            <label asp-for="Usuario.ContraseñaHash" class="label"></label>
            <input asp-for="Usuario.ContraseñaHash" value="" />
        </div>
        <div class="form__group">
            <label asp-for="Usuario.FechaRegistro" class="label"></label>
            <input asp-for="Usuario.FechaRegistro" value="" />
        </div>
        <div class="form__group">
            <label asp-for="Usuario.Rol" class="label"></label>
            <input asp-for="Usuario.Rol" value="" />
        </div>

        <button type="submit" class="btn btn-primary">Crear Cuenta</button>

    </form>
</div>
