@page
@model AppEmpleo.Pages.Register.RegisterSuccessModel
@{
    Layout = "~/Pages/Shared/_AltLayout.cshtml";
}

<p>¡Tu cuenta ha sido creada exitosamente! Puedes <a asp-page="/Account/Login">iniciar sesión</a> ahora.</p>
