@page
@model AppEmpleo.Pages.Register.RegisterModel
@{
    Layout = "~/Pages/Shared/_AltLayout.cshtml";
}

<div class="container">
    <form method="post" asp-page="Register">
        <div class="form-group">
            <label asp-for="Usuario.Nombre" class="control-label"></label>
            <input asp-for="Usuario.Nombre" value="" />
        </div>
        <div class="form-group">
            <label asp-for="Usuario.Apellido" class="control-label"></label>
            <input asp-for="Usuario.Apellido" value="" />
        </div>
        <div class="form-group">
            <label asp-for="Usuario.Email" class="control-label"></label>
            <input asp-for="Usuario.Email" value="" />
        </div>
        <div class="form-group">
            <label asp-for="Usuario.ContraseñaHash" class="control-label"></label>
            <input asp-for="Usuario.ContraseñaHash" value="" />
        </div>
        <div class="form-group">
            <label asp-for="Usuario.FechaRegistro" class="control-label"></label>
            <input asp-for="Usuario.FechaRegistro" value="" />
        </div>
        <div class="form-group">
            <label asp-for="Usuario.Rol" class="control-label"></label>
            <input asp-for="Usuario.Rol" value="" />
        </div>

        <button type="submit" class="btn btn-primary">Crear Cuenta</button>
    
    </form>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</div>
