@page
@model AppEmpleo.Pages.Register.RegisterSuccessModel

<div class="box__success register-success-container">
    <p class="success__message register-success-message">¡Tu cuenta ha sido creada exitosamente! Puedes <a asp-page="/Login/Login">iniciar sesión</a> ahora.</p>
</div>

