/* Fonts */
:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Raleway", sans-serif;
    --nav-font: "Ubuntu", sans-serif;
}

/* Global colors */
:root {
    --blanco: #fff;
    --negro: #000;
    /*Paleta vino tinto*/
    --vino-tinto: #813c50;
    --vino-tinto-medio: #875065;
    --vino-tinto-luz: #d397ae;
    --vino-tinto-extra-luz: #f4c3d7;
    /*Paleta rosa*/
    --rosado: #ffb3c8;
    --rosado-luz: #ffc6d5;
    --rosado-extra-luz: #ffd9e3;
    --rosado-palido: #ffecf1;
    --rosado-blanco: #fff8fa;
    /*Paleta gris*/
    --gris: #b6b6b6;
    --gris-luz: #c8c8c8;
    --gris-extra-luz: #dbdbdb;
    --gris-palido: #ededed;
    --gris-blanco: #f7f7f7;
    /*Paleta gris-azul*/
    --gris-azul: #586272;
    --gris-azul-luz: #a6aec1;
    --gris-azul-extra-luz: #cfd5e1;
    --gris-azul-palido: #ededf2;
    /*Paleta negro-gris*/
    --negro-gris: #4d4d4d;
    --negro-gris-luz: #757575;
    --negro-gris-extra-luz: #cfd5e1;
    --negro-gris-palido: #c5c5c5;
    /*Paleta complementaria*/
    --azul-industrial: #44749d;
    --gris-industrial: #c6d4e1;
    --cafe-grisaceo: #bdb8ad;
    --cafe-grisaceo-luz: #ebe7e0;
    --cafe-grisaceo-blanco: #f4f1ed;
    /*Transiciones*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

/* General styling */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--default-color);
    font-family: var(--default-font);
    color: var(--gris-azul);
}

.bg__white {
    background-color: #fff;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: min-content;
    font-family: var(--heading-font);
    background-color: var(--blanco);
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.2);
    transition: all 0.5s;
    z-index: 2;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    padding: 0 8%;
    color: var(--gris-azul);
}

.menu, .cabeza__input {
    display: none;
}

.cabeza__barra {
    padding: 8px;
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    transition: .2s;
}

a {
    text-decoration: none;
    color: var(--gris-azul);
}

.cabeza__barra:active {
    transform: rotate(-45deg) scaleY(10%);
}

.cabeza__input:checked + .menu {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background: #fff;
    backdrop-filter: blur(.4rem);
}

.menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
    transition: clip-path .3s linear;
    z-index: -1;
}

.menu__container {
    margin: 6rem 2rem;
    padding: 3rem 2rem;
    box-shadow: 0 0 4rem 3rem rgba(44, 2, 27, 0.2);
    border-radius: 1rem;
    font-weight: 600;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 6rem;
    padding-inline-start: 0;
    list-style: none;
    font-size: 1.5rem;
    text-align: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;
}

.button {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: auto;
    padding: 1rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 2rem 1rem rgba(44, 2, 27, .05);
    background-color: var(--vino-tinto);
    color: var(--rosado-blanco);
    transition: .5s;
}

.button__icon {
    font-size: 2rem;
}

.button:hover {
    background-color: var(--vino-tinto-medio);
    transition: .5s;
}

.container {
    padding: 0 12px;
}

.hero {
    padding: 80px 0 60px 0;
}

.hero__container {
    display: flex;
    flex-direction: column;
}

.container__text {
    order: 2;
}

.text__title {
    font-family: var(--heading-font);
}

.container__img {
    margin-bottom: 1rem;
}

.img {
    position: relative;
    width: 100%;
    animation-name: up-down;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;
    animation-play-state: running;
    z-index: -2;
}

/* Animation for img */
@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.container__text {
    padding: 0 1.5rem;
}

.text__title {
    margin-bottom: .4rem;
    font-size: 2rem;
    line-height: 36px;
    color: color-mix(in srgb, var(--negro-gris), transparent 20%);
}

.text__paragraph {
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: color-mix(in srgb, var(--negro-gris), transparent 30%);
}

.button__register {
    width: min-content;
    margin: 0 1.5rem;
    padding: .8rem 1.5rem;
    box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
    font-size: 13px;
    font-family: var(--heading-font);
    font-weight: 400;
    letter-spacing: 1px;
}

.button__register:hover {
    background-color: var(--vino-tinto-medio)
}

.footer {
    background-color: var(--background-color);
}
